footer{
    min-height: 10vh;
    background-color: rgba(59, 54, 54, 0.959);
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
     color: white;
     font-size: 1.5rem;
    }
  }