.main-wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
    .main-section{
      min-height: 80vh;
      font-size: 3rem;
    }

 
  }

  @import 'header';
  @import 'homeScreen';
  @import 'productScreen';
  @import 'cartScreen';
  @import 'loginScreen';
  @import 'profileScreen';
  @import 'shippingScreen';
  @import 'footer';
  @import 'messages';

  
  
 

 @media screen and (max-width: 724px){
  //Burger Menu
    @import 'burgerMenu';  
  
   //Header
     header{
     
    .nav-links{
      display: flex;
      position: fixed;
      left: 0;
      top: 0;
      height: 30vh;
      width: 100vw;
      padding: 1rem 0;
      flex-direction: column;
      transform: translateY(-50vh);
      justify-content: space-around;
      align-items: center;
      transition: 0.7s ease-in-out;
      li{
       width: 60vw;
       text-align: center;
        a{
            text-decoration: none;
            color: white;
            margin-left: 1rem;
        }
    }
    }
    
    .nav-links-open{
      display: flex;
      position: fixed;
      left: 0;
      top: 0;
      height: 30vh;
      width: 100vw;
      background:#101011; 
      padding: 1rem 0;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      transition: 0.7s ease-in-out;
      li{
        //we add this beacause nav-links li inhernce a 3rem font size from header
          font-size: 3rem;
          list-style-type: none;
          width: 60vw;
          text-align: center;
        .fas{
          font-size: 1.5rem;
          }
        a{
            text-decoration: none;
            color: white;
            margin-left: 1rem;
        }
    }
    }
    }

    //Homescreen
    .home-screen{
      grid-auto-rows: 45rem;
    }

    //ProductScreen
    .product-screen{
      width: 90%;
      .go-back{
        width: 40%;
      }
      .product-details{
        flex-direction: column;
        margin-bottom: 1rem;
       .product-image{
          width: 100%;
          height:auto;
          img{
             width: 100%;
             height: 100%;
             object-fit: cover;
         }  
        }
        .product-information-wrapper{
          width: 100%;
          background-color: blueviolet;
          display: flex;
          justify-content: center;
          .product-information{
            width: 100%;
            padding: .5rem 0;
            .product-price{
              margin: 1rem 0;
            }
            .product-description{
              padding-bottom: 1rem;
            }
         }
        }
        
       .add-to-cart{
         width: 100%;
       }
      }
     
    }
    .card{
      .card-body{
        .product-name{
         font-size: 2.7rem;
       }
       .reviews{
          .rating-section{
          .star-container{
             font-size: 3rem;
           }
           .reviews-number{
             font-size: 1.5rem;
           }

        }
        }
        .price{
          font-size: 3rem;
        } 
   }
    }

    //Cart Screen
    .product-cart{
   width: 100%;
   flex-direction: column;
   border: .1rem solid black;
   .product-cart-details{
     width: 100%;
     font-size: 2.8rem;
     border-top: .1rem solid black;
   }
   .image{
     border: none;
     height: 35vh;
   }
   .name{
     height: 10vh;
   }
   
     }
     .cart-info{
     flex-direction: column;
    }
    .cart-product-list{
    width: 100%;
    }
    .checkout{
     width: 100%;
    }
    .form{
     width: 100%;
     input{
       width: 100%;
     }
     .sign-in{
       width: 100%;
     }
    }
    .no-items{
    margin-bottom: 1rem;
    }

    //Profile Screen
    .profile-container{
     flex-direction: column;
    }
    .user-profile-info, .orders{
     min-height: 70vh;
     width: 100%;
    }
    .user-profile-info{
     .form{
       width: 100%;
       input, .update{
         width: 100%;
         padding: 1rem;
       }
     }
    }
}


@media screen and (max-width: 320px){
  header{
    nav{
     
      .nav-links{
        li{
          a{
            font-size: 1rem;
          }
        }
      }
    }
  }
}