.main-wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-wrapper header {
  min-height: 10vh;
  background-color: rgba(59, 54, 59, 0.959);
  color: white;
}

.main-wrapper header nav {
  width: 80%;
  min-height: 10vh;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-wrapper header nav .title {
  color: white;
  font-size: 2rem;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  text-decoration: none;
}

.main-wrapper header nav .title:hover {
  color: #9e9999;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.main-wrapper header .nav-links {
  width: 50%;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-wrapper header .nav-links li {
  font-size: 3rem;
}

.main-wrapper header .nav-links li .fa-user {
  margin-left: 1rem;
}

.main-wrapper header .nav-links li .fas {
  font-size: 1.5rem;
}

.main-wrapper header .nav-links li a {
  color: white;
  text-decoration: none;
  margin-left: 1rem;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.main-wrapper header .nav-links li a:hover {
  color: #9e9999;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.main-wrapper .main-section {
  min-height: 80vh;
  font-size: 3rem;
}

.main-wrapper .home-screen-title {
  width: 80%;
  margin: auto;
  font-size: 3rem;
  font-weight: bold;
  min-height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: .7rem 0;
}

.main-wrapper .home-screen {
  width: 80%;
  margin: auto;
  padding-bottom: 1rem;
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  grid-auto-rows: 30rem;
  -ms-grid-columns: (minmax(17rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
}

.main-wrapper .product-screen {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 80vh;
  margin: auto;
}

.main-wrapper .product-screen .go-back {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .7rem 0;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  color: black;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.main-wrapper .product-screen .go-back:hover {
  color: #4608f1;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.main-wrapper .product-screen .product-details {
  min-height: 65vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-wrapper .product-screen .product-details .product-image {
  width: 40%;
}

.main-wrapper .product-screen .product-details .product-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-wrapper .product-screen .product-details .product-information {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3c3071;
}

.main-wrapper .product-screen .product-details .product-information .product-name, .main-wrapper .product-screen .product-details .product-information .product-price {
  font-size: 2rem;
  color: white;
  text-align: center;
}

.main-wrapper .product-screen .product-details .product-information .product-description {
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
}

.main-wrapper .product-screen .product-details .product-information-wrapper {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-wrapper .product-screen .product-details .product-information-wrapper .product-information {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f2aa4cFF;
}

.main-wrapper .product-screen .product-details .product-information-wrapper .product-information .product-name, .main-wrapper .product-screen .product-details .product-information-wrapper .product-information .product-price {
  font-size: 2rem;
  color: white;
  text-align: center;
}

.main-wrapper .product-screen .product-details .product-information-wrapper .product-information .product-description {
  font-size: 1.2rem;
  text-align: center;
  color: white;
}

.main-wrapper .product-screen .product-details .add-to-cart {
  width: 20%;
}

.main-wrapper .product-screen .product-details .add-to-cart label {
  font-weight: bold;
}

.main-wrapper .product-screen .product-details .add-to-cart option {
  font-size: 1.5rem;
}

.main-wrapper .product-screen .product-details .add-to-cart .add-to-cart-price, .main-wrapper .product-screen .product-details .add-to-cart .add-to-cart-status, .main-wrapper .product-screen .product-details .add-to-cart .add-to-cart-quantity, .main-wrapper .product-screen .product-details .add-to-cart .add-to-cart-button {
  width: 100%;
  border: .1rem solid black;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem;
}

.main-wrapper .product-screen .product-details .add-to-cart .add-to-cart-status, .main-wrapper .product-screen .product-details .add-to-cart .add-to-cart-button {
  border-top: none;
}

.main-wrapper .product-screen .product-details .add-to-cart .add-to-cart-button button {
  background-color: black;
  color: white;
  border: none;
  padding: .5rem 2rem;
  cursor: pointer;
  font-weight: bold;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.main-wrapper .product-screen .product-details .add-to-cart .add-to-cart-button button:hover {
  background-color: white;
  color: black;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.main-wrapper .card {
  color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border: 0.1rem solid rgba(59, 54, 54, 0.616);
}

.main-wrapper .card .card-image {
  width: 90%;
  height: 60%;
}

.main-wrapper .card .card-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-wrapper .card .card-body {
  height: 30%;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #0e0d0d;
}

.main-wrapper .card .card-body .product-name {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: black;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.main-wrapper .card .card-body .product-name:hover {
  color: #4608f1;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.main-wrapper .card .card-body .price {
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
}

.main-wrapper .reviews {
  font-size: 1.8rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-wrapper .rating-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

.main-wrapper .rating-section .star-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.5rem;
  color: gold;
  text-align: justify;
}

.main-wrapper .rating-section .reviews-number {
  font-size: 1.2rem;
  font-weight: bold;
}

.main-wrapper footer {
  min-height: 10vh;
  background-color: rgba(59, 54, 54, 0.959);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-wrapper footer h1 {
  color: white;
  font-size: 1.5rem;
}

.cart {
  width: 80%;
  margin: auto;
  font-size: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 0;
}

.cart-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-product-list {
  width: 70%;
}

.checkout {
  width: 25%;
  height: 30vh;
  font-size: 3rem;
  border: 0.1rem solid #363434;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkout button {
  background-color: black;
  color: white;
  border: none;
  padding: .5rem 2rem;
  cursor: pointer;
  font-weight: bold;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.checkout button:hover {
  background-color: white;
  color: black;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.product-cart {
  min-height: 13vh;
  width: 100%;
  margin-bottom: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-cart-details {
  width: 18%;
  height: 13vh;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.product-cart-details .fas {
  cursor: pointer;
}

.image {
  background-color: cadetblue;
  width: 20%;
}

.image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.name {
  width: 26%;
}

@media screen and (max-width: 724px) {
  .main-wrapper header .nav-links li {
    font-size: 2rem;
  }
  .main-wrapper .home-screen {
    grid-auto-rows: 45rem;
  }
  .main-wrapper .product-screen {
    width: 90%;
  }
  .main-wrapper .product-screen .go-back {
    width: 40%;
  }
  .main-wrapper .product-screen .product-details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 1rem;
  }
  .main-wrapper .product-screen .product-details .product-image {
    width: 100%;
    height: auto;
  }
  .main-wrapper .product-screen .product-details .product-image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main-wrapper .product-screen .product-details .product-information-wrapper {
    width: 100%;
    background-color: blueviolet;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-wrapper .product-screen .product-details .product-information-wrapper .product-information {
    width: 100%;
    padding: .5rem 0;
  }
  .main-wrapper .product-screen .product-details .product-information-wrapper .product-information .product-price {
    margin: 1rem 0;
  }
  .main-wrapper .product-screen .product-details .product-information-wrapper .product-information .product-description {
    padding-bottom: 1rem;
  }
  .main-wrapper .product-screen .product-details .add-to-cart {
    width: 100%;
  }
  .main-wrapper .card .card-body .product-name {
    font-size: 2.7rem;
  }
  .main-wrapper .card .card-body .reviews .rating-section .star-container {
    font-size: 3rem;
  }
  .main-wrapper .card .card-body .reviews .rating-section .reviews-number {
    font-size: 1.5rem;
  }
  .main-wrapper .card .card-body .price {
    font-size: 3rem;
  }
  .main-wrapper .product-cart {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: .1rem solid black;
  }
  .main-wrapper .product-cart .product-cart-details {
    width: 100%;
    font-size: 2.8rem;
    border-top: .1rem solid black;
  }
  .main-wrapper .product-cart .image {
    border: none;
    height: 35vh;
  }
  .main-wrapper .product-cart .name {
    height: 10vh;
  }
  .cart-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cart-product-list {
    width: 100%;
  }
  .checkout {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .main-wrapper header nav .nav-links li a {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=app.css.map */